body {
	margin: 5px 20px 20px 20px;
	/*background-color: #255;*/	
	background-color:#455;
	text-align: center;
	/*background-image: url(background.png);*/
	background-repeat: repeat; 
	font-size:15px; 
}

a {
	text-decoration: none;
	}

a:link {
       /*color: #4b85b7;*/
	color: #FF6600;
	}

a:visited {
	/*color: #4b85b7;*/
	color: #FF6600;
}

a:active {
	color: #FF6600;
}

a:hover {
	color: #7b795a;
}

a.new:link {
  	color: #DE7A47;
	text-decoration:underline;
}

a:new.visited {
	color: #DE7A47;
}


h1, h2 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: times;
	color:#FaFF;
	}

h3{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: Arial, times;
	font-size: 1.05em;
	color:#FFF;
}

#mainbox {
	line-height: 120%;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
	padding: 0px;
	width: 950px;
	background-color: #071918;
	/*background-color: #255;*/
	color:#DDD;
	/*border-bottom: 1px #939393 solid; */
}


.header {
	font-family: times;
	position: relative;
	top: 20px;
	/*color: #695f5e;*/
	color: #ced;
	background-color: #071918;
	/*background-color: #466; */
	text-align: right;
	height: 125px;
	width:900px;
}

.navigator {
	border-top: 1px #939393 solid; 
	border-bottom: 1px #939393 solid; 
	padding: 15px 20px 15px 15px;
	color: #848484;
	font-family:  Arial, Verdana;
	position:relative;
	top: 10px;
	text-align: center;
	/*background-color:#798;*/
	background-color:#0A2A22;
	font-size: 1.0em;
}

.navigator a:link {
	 color: lightyellow;
	 /*color: #ff6;*/
}

.navigator a:visited {
	color: lightyellow;
	/*color: #ff6;*/
}

.navigator a:hover {
	color: #db795a;
}


.content {
	padding: 20px 20px 20px 20px;
	font-family: Arial,times;
	/*color: #666666;*/
	color:#ced;
	background-color: #071918;
	/*background-color: #255;*/
	text-align: justify;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 40px;
	/*height: 400px;*/
}

.content p {
	color: #666666;
	/*font-family: helvetica;/
	font: Arial,Verdana,Sans-serif
	font-weight: normal;
	line-height: 1.34em;*/
	text-align: left;
	margin-bottom: 14px;
	font-size: 0.95em;
	/*margin-right: 15px;*/
	color:#ced;	
}


.content blockquote {
	line-height: 100%;
	}

.content li {
	line-height: 130%;
	font-family: arial;
	text-align: left;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 0.93em;
}

.content h2 {
	color: #DDD;
	font-family: Arial,times;
	/*text-align: left;*/
	margin-bottom: 7px;
	font-size: 1.2em; 
	font-weight: bold;	
}


.content h3 {
	color: #4E86A5 ;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	font-weight: normal;	
	margin-top: 12px;
	margin-bottom: -2px;
	font-size: .89em;
	letter-spacing: .10em; 
}

.content h4 {
	/*color: #564d4c;*/
	color: #4E86A5;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	font-weight: normal;	
	margin-bottom: 8px;
	font-size: .82em;
	letter-spacing: .1em; 
}


.content h5 {
	color: #4E86A5 ;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	font-weight: bold;	
        margin-top: 10px;
	margin-bottom: -45px;
	font-size: .78em; 
}

.content h6 {
	color: #564d4c;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	font-weight: normal;	
	margin-bottom: 10px;
	font-size: .74em;
 }

.content p.posted {
	color: #999999;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	border-top: 1.5px #999999 dotted;
	text-align: left;
	margin-bottom: 30px;
	line-height: normal;
	padding: 4px;
	font-size: .6em; 
}

.photo {
	text-align: left;
	margin-bottom: 20px;
}





